<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editando Integrante</title>
</head>
<body>
    <form method="post">
        Nome: <input value="<%=integrante.nome%>" type="text" name="nome" placeholder="Digite o nome do integrante"><br>
        Stage Name: <input value="<%=integrante.stagename%>" type="text" name="stagename" placeholder="Digite o stagename do integrante"><br>
        Gênero: <input value="<%=integrante.genero%>" type="text" name="genero" placeholder="Digite o gênero do integranter"><br>
        Aniversário: <input value="<%=integrante.dob%>" type="date" name="dob" placeholder="Digite o aniversário do integrante"><br>
        Número de Grupos: <input value="<%=integrante.numgrupo%>" type="number" name="numgrupo" placeholder="Digite o número de grupos que o integrante participa"><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>